[user]
	email = proger@wilab.org.ua
	name = Vladimir Kirillov

[alias]
	#st = status -sb
	st = status
	ci = commit -v
	br = branch
	co = checkout
	cl = clone
	di = diff
	l  = log -u --name-status --stat --summary --color
	lo = log --format=oneline
	lg = log --graph --decorate --pretty=oneline --abbrev-commit
	lgg = log --graph --pretty=format:'%C(yellow)%h%Creset %d %s %Cgreen(%cr)%Creset %C(blue)%an%Creset' --date=relative
	lggg = log --graph --decorate --date=relative --abbrev-commit --pretty=oneline
	lp = log -p
	head = log -1 HEAD
	up = pull --rebase
	cp = cherry-pick

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto

[core]
	excludesfile = /tank/proger/.cvsignore

[diff]
	renames = true

[push]
	default = tracking
[credential]
	helper = osxkeychain
