[user]
	email = proger@wilab.org.ua
	name = Vladimir Kirillov

[url "gitosis@git.hackndev.com:"]
	insteadOf = "hnd:"

[url "eva.atmnis.com:"]
	insteadOf = "eva:"

[alias]
	#st = status -sb
	st = status
	ci = commit -v
	br = branch
	co = checkout
	cl = clone
	di = diff
	l  = log -u --name-status --stat --summary --color
	lo = log --format=oneline
	lg = log --graph --decorate --pretty=oneline --abbrev-commit
	lp = log -p
	head = log -1 HEAD
	up = pull --rebase

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto

[core]
	excludesfile = /tank/proger/.cvsignore
